@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
  font-weight: 200;
  font-style: normal;
}