header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  min-width: 560px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.header-wrapper {
  width: 1140px;
  min-width: 540px; 
  display: flex;
  justify-content: space-between;
}
.nav-button .item {
  width: 24px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}
.nav-button {
 display: none;
}
.nav-list {
  display: flex; 
  list-style-type: none;/*убрать маркеры со списка*/
}
.nav-list .item a {
  color: #111111;
  padding: 10px 20px;
}
.nav-list .item a:hover {
  color:rgb(202, 101, 82);/* при наведении курсора мышки */
}
.img {
  width: 64px;
}
main {
  min-height: calc(100vh - 80px);
  min-width: 560px;
  background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/935d26ae03315201b50dd7cc/wsqe-min.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px; 
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  width: 1140px;
  margin-bottom: 10px;
}
.content-wrapper .item {
  padding: 50px 30px 40px 30px;
  font-family: "Open Sans", sans-serif; 
  font-size: 16px;
  line-height: 26px;
  width: 366px;
  background:rgba(255, 255, 255, 0.74);
  margin-bottom: 20px;
}
.heading-content {
  display: flex;
  align-items: center;
  margin-bottom: 53px;
}
.heading-number {
  color: #ca6552; 
  font-family: "Roboto", sans-serif;
  font-size: 96px;
  font-weight: 400;
  line-height: 96px;
  margin-right: 20px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  word-break: break-word;
}
.content-wrapper .text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 34px;
}
.more {
  border-bottom: 2px solid rgb(222, 57, 46);
  color: #111111;
  padding-bottom: 1px;
}
.link-to-img {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.link-to-img a {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  padding-bottom: 1px;
}

@media (max-width: 1198px) {
  .content-wrapper, .header-wrapper {
    width: 940px;
  }
  .content-wrapper .item {
    width: calc(100%/3 - 20px);
  }
}
@media (max-width: 1008px) { 
  .nav-list {
  /*  visibility: hidden;*/
  display: none;
  }
  .nav-button {
  /* visibility: visible;*/
  display: initial;
  }

} 
@media (max-width: 990px) {
  .content-wrapper, .header-wrapper {
    width: 720px;
  }
  .content-wrapper .item {
    padding: 30px;
    width: calc(100%/2 - 10px);
  }
}
@media (max-width: 776px) {
  .content-wrapper, .header-wrapper {
    width: 540px;
  }
  .content-wrapper .item {
    width: calc(100% - 10px);
  }
}







